#Minecraft server properties
#Thu Dec 17 21:59:39 GMT 2020
spawn-protection=0
max-tick-time=60000
query.port={{ server_port }}
generator-settings=
sync-chunk-writes=true
force-gamemode=false
allow-nether=true
enforce-whitelist=true
gamemode=survival
broadcast-console-to-ops=true
enable-query=true
player-idle-timeout=0
text-filtering-config=
difficulty={{ difficulty }}
broadcast-rcon-to-ops=true
spawn-monsters=true
op-permission-level=4
pvp=true
entity-broadcast-range-percentage=100
snooper-enabled=false
level-type=default
enable-status=true
hardcore=false
enable-command-block=false
network-compression-threshold=256
max-players=20
max-world-size=29999984
resource-pack-sha1=
function-permission-level=2
rcon.port={{ server_rcon_port }}
server-port={{ server_port }}
debug=false
server-ip=
spawn-npcs=true
allow-flight=true
level-name=world
view-distance={{ view_distance }}
resource-pack=
spawn-animals=true
white-list=true
rcon.password={{ rcon_password }}
generate-structures=true
online-mode=true
max-build-height=256
level-seed={{ level_seed }}
prevent-proxy-connections=false
use-native-transport=true
enable-jmx-monitoring=false
motd={{ motd }}
rate-limit=0
enable-rcon=true
require-resource-pack=false
resource-pack-prompt=
texture-pack=
hide-online-players=false
simulation-distance=10
