worlds:
  - name: world
    title: "World"
    maps:
      - class: org.dynmap.hdmap.HDMap
        name: flat
        title: "Flat"
        prefix: flat
        perspective: iso_S_90_hires
        shader: stdtexture
        lighting: nightandday
      - class: org.dynmap.hdmap.HDMap
        name: surface
        title: "Surface High"
        prefix: t
        perspective: iso_SE_60_hires
        shader: stdtexture
        lighting: nightandday
        mapzoomin: 1
      - class: org.dynmap.hdmap.HDMap
        name: cave
        title: "Cave"
        prefix: ct
        perspective: iso_SE_60_hires
        shader: cave
        lighting: default
        mapzoomin: 3
      - class: org.dynmap.hdmap.HDMap
        name: topo
        title: "Topographical"
        icon: images/block_topo.png
        prefix: tp
        perspective: iso_S_90_lowres
        shader: topo-noplants
        lighting: default
        mapzoomin: 3
      - class: org.dynmap.hdmap.HDMap
        name: biome
        title: "Biome"
        icon: images/block_biome.png
        prefix: bio
        perspective: iso_S_90_lowres
        shader: biome
        lighting: default
        mapzoomin: 3
      - class: org.dynmap.hdmap.HDMap
        name: rain
        title: "Rainfall"
        icon: images/block_rain.png
        prefix: rain
        perspective: iso_S_90_lowres
        shader: rainfall
        lighting: default
        mapzoomin: 3
